.movies-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .movie-small-card{
        width: 10%;
        margin: 10px;
        .card-img{
            img{
                width: 150px;
                height: auto;
            }
        }
        .card-body{
            h1{
                color: white;
                font-size: 15px;
            }
        }
    }
}